.cartproductContainer {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-bottom: 30px;
    padding: 30px;
}

.cartProductDetailsHolder {
    margin-left: 40px;
}

.cartProductDetailsHolder p {
    margin: 0%;
    text-align: left;
    margin-bottom: 3px;
}

.cartprodName {
    font-size: 20px;
    color: #1D3178;
    font-weight: 600;
}

.cartProdDetails {
    font-size: 17px;
    color :#A1A8C1;
    font-weight: 400;
}

.manageQuetity {
    display: block;
    margin-left: 60px;
}

.numberHolder {
    display: block;
    width: 20px;
    text-align: center;
    font-size: 20px;
}

.iconscart {
    display: block;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

.DeleteProductBtn {
    height: 40px;
    margin: auto;
    margin-left: 100px;
}

.totalAmountContainer {
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 30px;
    margin-left: 30px;
    height: fit-content;
}

.toalCartContainer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.finalAmountDetails {
    display: flex;
    justify-content: space-between;
    margin: auto;
   
}

.finalAmountDetails p {
    font-size: 18px;
    color: #1D3178;
    font-weight: 500;
}

.horizontal_line {
    color: rgb(195, 193, 193);
}

.amountBtn {
    margin-top: 40px;
}


.btn-clear {
    background-color: rgb(247, 77, 77);
    border-color:  rgb(247, 77, 77);
    width: 150px;
}

.btn-clear:hover {
    background-color: rgb(247, 43, 43);
    border-color:  rgb(247, 43, 43);
}

.btn-checkout {
    background-color: green;
    border-color: green;
    width: 150px;
}

.btn-checkout:hover {
    background-color: rgb(4, 171, 4);
    border-color: rgb(4, 171, 4);
}