.specialProductAndDecHolder {
    display: flex;
    width: 70%;
    margin: auto;
}

.specialProductDetailsHolder {
    width: 70%;
    margin-top: 100px;
    text-align: left;
}

.specialProductAllDeaitlsHolder {
    margin-top: 100px;
    height: fit-content;
    background-color:  #F1F0FF;
}

.backEclips {
    position: absolute;
    left: -10%;
    right: 55.05%;
    top: 3.89%;
    bottom: 14.36%;
    margin-left: -30px;
}

.specialImage {
    position: absolute;
    left: 15.81%;
    right: 47.71%;
    margin-top: -30px;
}

.dotDescHolder {
    display: flex;
    justify-content: flex-start;
}

.dotPink {
  height: 10px;
  width: 10px;
  background-color: #FB2E86;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.dotBlue {
  height: 10px;
  width: 10px;
  background-color: #151875;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.dotGreen {
  height: 10px;
  width: 10px;
  background-color: #3aae9b;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.spacer {
    width: 30px;
}

.specialAddtoCart {
    border: #FB2E86;
    background-color:#FB2E86;
    padding-right: 20px;
}
.specialAddtoCart:hover {
    border: #FB2E86;
    background-color:#f53488;
    padding-right: 20px;
}

.specialProductDetails p{
    margin: 0;
    padding-left: 20px;
}

.buttonAndDetailsHolder {
    display: flex;
}

.specialProductName {
    font-style: "Josefin Sans";
    font-size: 14px;
    color: #151875;
    font-weight: 700;
}

.specialProductPrice {
    font-size: 14px;
    color: #151875;
    font-weight: 500;
}

@media only screen and (max-width: 420px) {
    .specialProductAndDecHolder {
        display: block;
    }

    .specialImage {
        height: 300px;
        width: 300px;
    }

    .imageBackround {
        height: 250px;
        width: 270px;
    }

    .specialProductDetailsHolder {
        width: 100%;
        margin-top: 0%;
    }

}

@media only screen and (max-width: 820px) and ( min-width: 421px) {
    .specialProductAndDecHolder {
        display: block;
    }

    .specialImage {
        height: 300px;
        width: 300px;
        margin-left: 15%;
    }

    .imageBackround {
        height: 250px;
        width: 270px;
        margin-left : 120px;
    }

    .specialProductDetailsHolder {
        width: 100%;
        margin-top: 0%;
        margin-left: 5%;
    }
}


@media only screen and (max-width: 1200px) and ( min-width: 821px) {
    .specialImage {
        height: 300px;
        width: 300px;
        margin-top: 15%;
        margin-left: -30px;
    }

    .imageBackround {
        height: 250px;
        width: 270px;
        margin-top: 150px;
        margin-left: -30px;
    }

    .specialProductDetailsHolder {
        width: 100%;
        margin-left: 10%;
    }
}


