.UserInfoHeading {
    border: 1px solid rgb(238, 236, 236);
}

.formHolder h2 {
    text-align: left;
}

.formHolder {
    width: 100%;
    margin-left: 4%;
    align-items: flex-start;
    margin-top: 30px;
}

.formHolder input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 8px;
    height: 50px;
    padding-left: 5px;
    font-size: 17px;
}

.formHolder label {
    text-align: left;
    display: block;
}

.buttonHolder {
    width: 100%;
    margin-left: -1%;
    display: flex;
    justify-content: space-between;
}

.btnAccount {
    margin-left: 10px;
    width: 300px;
}

.makeContFlex {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.userCart {
    width: 40%;
}

.productLists {
    width: 50%;
    height: 100px;
    border: 1px solid gray;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.productLists p {
    margin: 0%;
}

.cartproductDetailsHolder {
    margin-top: 10%;
}