.FeatureProductContainer {
    margin-top: 100px;
}


.featureProduct-heading {
    color : #1A0B5B;
}

.productDisplay {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.SliderContainer {
    width: 100%;
    margin: auto;
    height: max-content;
}

.slider-component {
    padding-bottom: 30px;
}

.slider-row {
    height: fit-content;
    padding-bottom: 30px;
}