.FeatureProductContainer {
  margin-top: 100px;
}

.featureProduct-heading {
  color: #1a0b5b;
}

.productDisplay {
  margin: auto;
  padding-left: 100px;
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.productDisplay::-webkit-scrollbar {
  display: none;
}

.SliderContainer {
  width: 100%;
  margin: auto;
  height: max-content;
}

.slider-component {
  padding-bottom: 30px;
}

.slider-row {
  height: fit-content;
  padding-bottom: 30px;
}
