.webnav {
    width: 80%;
    margin: auto;
    background-color: #fff !important;
}

.links {
    padding: 20px !important;
    color : #0D0E43 !important;
    font-weight: 500;
}

.links:hover {
    color: #FB2E86 !important;
}

.logo {
    font: "Josefin Sans";
    font-size: 40px;
    line-height: 34px;
    margin-top: 0;
}

.scrollNav {
    max-height: 500px;
}
