.loginCardHolder {
    width: 33%;
    height: 420px;
    margin: auto;
    box-shadow: 0px 0px 25px 10px #F8F8FB;
    margin-top: 100px;
    margin-bottom: 20px;
}

.LoginCard {
    width: 80%;
    margin: auto;
    padding-top: 35px;
}

.LoginHeading h1{
    font-size: 32px;
    color: #000000;
}

.LoginHeading p{
    font-size: 17px;
    color: #9096B2;
    
}

.inputHolder input{
    border: 1px solid #C2C5E1;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.inputHolder p{
    font-size: 17px;
    color : #9096B2;
    text-align: left;
}

.loginBtn {
    width: 100%;
    background-color: #FB2E86;
    border: #FB2E86;
    border-radius: 3px;
}

.loginBtn:hover {
    background-color: #df2777;
}

.signUpLink p{
    margin-top: 20px;
    font-size: 17px;
    color: #9096B2;
}